body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

nav ul {
    list-style: none;
    display: flex;
    
}

li {
    margin-right: 20px;
    text-decoration: none;
}

.actions{
    padding: 10px 20px;
    background-color: transparent;
    color: #000;
    border: none;
    cursor: pointer;
}

.actions1{
    padding: 10px 20px;
    background-color: transparent;
    color: #000;
    border: grey solid 1px;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 5px;
}

main {
    padding: 40px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.buttons{
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.buttons1{
    padding: 15px 30px;
    background-color: transparent;
    color: #000;
    border: none;
    cursor: pointer;
}

.working-with-the-best {
    text-align: left;
    margin-top: 40px;
}

.head2{
    font-size: 15px;
    color: grey;
    font-weight: 400;
    padding: 10px 0px;
}

.logos img {
    width: 100px;
    margin: 0 10px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.head{
    font-size: 30px
}
